:root {
  --themeUI: #ee5370;
  --themeUIDark: #333;
  --variant_color: #4b5872;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: "Poppins", sans-serif;
}

header {
  height: 80px;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.content {
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.custom-font {
  font-family: "Dosis", sans-serif;
}

.btn {
  background: var(--themeUI);
  padding: 20px 30px;
  display: inline-block;
  color: #fff;
  text-decoration: none;
}

.model::after {
  content: "";
  background-image: url("https://i.pinimg.com/564x/bd/2d/a3/bd2da3b952fb872954bdd459cfc7b99e.jpg");
  width: 100%;
  height: 80%;
  position: absolute;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: auto;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.btn:hover {
  background: var(--themeUIDark);
}

.d-flex {
  display: flex;
}

.d-flex-justify-between {
  justify-content: space-between;
}

.d-flex-align-center {
  align-items: center;
}

.m-left-30 {
  margin-left: 30px;
}

.m-right-10 {
  margin-right: 10px;
}
.m-bottom-30 {
  margin-bottom: 30px;
}

.fs-1 {
  font-size: 3rem;
}

.fs-3 {
  font-size: 2rem;
}

.fs-4 {
  font-size: 1.1rem;
}

.sm-6-12 {
  position: relative;
  width: 50%;
}

.link-menu {
  text-decoration: none;
  color: #333;
  padding: 10px 0;
  position: relative;
}

.link-menu-actived:after {
  content: "";
  height: 4px;
  position: absolute;
  width: 100%;
  background: var(--themeUI);
  bottom: 5px;
  left: 0;
}

.color-dark {
  color: #333;
}

.color-variant {
  color: var(--variant_color);
}

.social-media-icon {
  font-size: 0;
}

.social-media-icon:after {
  content: "";
  background-position: center;
  background-size: cover;
  width: 23px;
  height: 23px;
  display: block;
  background-image: url("./assets/facebook.svg");
}

.social-media-icon-twitter:after {
  background-image: url("./assets/twitter.svg");
}

.social-media-icon-instagram:after {
  margin-right: 6px;
  background-image: url("./assets/instagram.svg");
}

.apresentation {
  background-color: #ccecf9;
}
