:root {
  --unguessingUITheme: #333;
  --unguessingUIThemeDark: #1d1d1d;
  --unguessingUIprimary: #368476;
  --unguessingUIprimaryDark: #1f1f1f;
}

.image_background {
  margin: 0;
  padding: 0;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
  opacity: 0;
  z-index: 1;
}

.input_box {
  margin: 0;
  padding: 0;
  position: relative;
  background: var(--unguessingUITheme);
  box-shadow: 3px 3px 2px var(--unguessingUIThemeDark);
  min-width: 320px;
  max-width: 320px;
  position: fixed;
  bottom: 15px;
  right: 15px;
  border-radius: 3px;
  padding: 15px;
  transition: transform 0.3s ease;
  transform: translateY(95px);
  padding-bottom: 0;
  z-index: 99;
}

.input_box_with_image {
  transform: translateY(200px);
}

.input_box.input_box_actived {
  transform: translateY(0px);
}

.input_box_title {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  margin-bottom: 5px;
  display: block;
  color: #fff;
  font-size: 12px;
}

.input_box input {
  margin: 0;
  padding: 0;
  width: 100%;
}

.input_box_change_status {
  text-decoration: none;
  font-size: 0;
  position: absolute;
  top: -70px;
  cursor: pointer;
  right: 0;
  box-shadow: 3px 3px 2px var(--unguessingUIThemeDark);
  border-radius: 50%;
  background-color: var(--unguessingUITheme);
  width: 45px;
  height: 45px;
  border: 0;
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
}

.btn {
  border: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: sans-serif;
  background: var(--unguessingUIprimary);
  box-shadow: 3px 3px 2px var(--unguessingUIThemeDark);
  width: 100%;
  cursor: pointer;
  display: block;
  text-align: center;
  padding: 10px;
  border-radius: 4px;
  color: #fff;
  margin-bottom: 15px;
}

.btn.btn_danger {
  font-family: sans-serif;
  font-size: 0;
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #ad1c1c;
  max-width: 40px;
  margin-left: 15px;
  box-shadow: 3px 3px var(--unguessingUIThemeDark);
}

.btn.btn_primary {
  font-family: sans-serif;
  font-size: 0;
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--unguessingUIprimary);
  max-width: 40px;
  margin-left: 15px;
  box-shadow: 3px 3px 2px var(--unguessingUIThemeDark);
}

.btn.btn_primary_dark {
  font-family: sans-serif;
  font-size: 0;
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--unguessingUIprimaryDark);
  max-width: 40px;
  margin-left: 15px;
  box-shadow: 3px 3px 2px var(--unguessingUIThemeDark);
}

.btn input {
  display: none;
}

.m_bottom_15 {
  margin-bottom: 15px;
}

.d_flex {
  display: flex;
}

.flex1 {
  flex: 1;
}

.color_white {
  color: #fff;
}

.cursor_pointer {
  cursor: pointer;
}

.value_box {
  margin: 0;
  padding: 0;
  margin-left: 10px;
  background: #151515;
  height: 31px;
  line-height: 30px;
  font-size: 12px;
  padding: 0 5px;
  border-radius: 4px;
}
